.gradient-bg {
  background: rgb(0, 206, 255);
  background: linear-gradient(
    0deg,
    rgba(0, 206, 255, 0.5494572829131652) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  outline: none;
  border: none;
}
